@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Lobster);


body{
  background-size: cover;
  background-position: 0px 0px;
  /*background-image: url("tumblr-backgrounds-design-ideas-9.jpg");*/
  background-image: url('/images/background.JPG');
  background-size: cover;
  background-size: 1400px;
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 20px;
  color: black;
  padding: 20px 20px 30px 20px;
  min-width: 600px;
}

body.stew {
  background-size: cover;
  background-position: 0px 0px;
  /*background-image: url("tumblr-backgrounds-design-ideas-9.jpg");*/
  background-image: url('/images/hip_hop_collage_art.JPG');
  background-size: cover;
  background-size: 1400px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 20px;
  color: black;
  padding: 20px 20px 30px 20px;
}

/* spacers*/
.large_spacer
{
    width: 100%;
    height: 60px;
}
.small_spacer
{
    width: 100%;
    height: 10px;
}

.spacer
{
    width: 100%;
    height: 20px;

}

#tester {
  float:left;
  width: 520px;
}
/*background*/
.content {
  background-color: white;
  width: 80% ;
  margin:auto;
  opacity: 0.8;
  padding-bottom: 30px;
  min-width: 500px;
}

/*words*/
.sub_titles {
  font-size: 25px;
  font-family: 'Lobster', cursive;
  color: #808080;
}
.titles {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  color:black;
  text-align: center;
  opacity: 1;
}
.labels {
  font-family: 'Lobster', cursive;
  font-size: 20px;
  color: black;
}
.sub_labels {
  font-family: 'Lobster', cursive;
  font-size: 20px;
  color: #808080;
}
/*buttons*/
.right_buttons {
  float: left;
  font-family: 'Lobster', cursive;
  font-size: 25px;
  text-decoration: none;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  -moz-border-radius: 20;
  border-radius: 20px;
  color: #000000;
  background: #ffffff;

}
.left_buttons {
  float: left;
  font-family: 'Lobster', cursive;
  font-size: 25px;
  text-decoration: none;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  -moz-border-radius: 20;
  border-radius: 20px;
  color: #000000;
  background: #ffffff;
}

.big_btn {
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: 'Lobster', cursive;
  color: #000000;
  font-size: 32px;
  background: #ffffff;
  padding: 10px 45px 10px 45px;
  /*border: solid #000000 6px;*/
  text-decoration: none;
  width: 275px;
}
.small_btn {
  font-family: 'Lobster', cursive;
  font-size: 25px;
  text-decoration: none;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  -moz-border-radius: 20;
  border-radius: 20px;
  color: #000000;
  background: #ffffff;
  text-decoration: none;
  float: left;
}
.small_btn_center {
  font-family: 'Lobster', cursive;
  font-size: 25px;
  text-decoration: none;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  -moz-border-radius: 20;
  border-radius: 20px;
  color: #000000;
  background: #ffffff;
}

form {
  margin-left: 0px;
  margin-right: 0px;
}

#buttons {
  display: absolute;
}

.styled-select {
   width: 240px;
   height: 34px;
   overflow: hidden;
   background: url(new_arrow.png) no-repeat right #ddd;
   border: 1px solid #ccc;
   background-color: #6495ED;
   font-family: 'Lobster', cursive;
   font-size: 20px;
   }

#home_large {
  margin-left: 483px;
  font-family: 'Lobster', cursive;
  font-size: 20px;
  text-decoration: none;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  -moz-border-radius: 20;
  border-radius: 20px;
  color: #000000;
  background: #ffffff;
  text-decoration: none;
  width: 300px;
  margin-left: 371px;
}
/*miscellaneous*/
#videoContainer {
  float: right;
}
#musicPlayer {
  float: center;
}
#questions_played {
  margin-left: 15px;
  color: #808080;
}
#friend_nickname {
  font-size: 30px;
  font-weight: bold;
}
#artist_name {
  margin-right: 300px;
}
#song_title {
  margin-left: 300px;
}

.countdown {
list-style: none;
/*margin: 75px 0;*/
padding: 0;
display: block;
text-align: center;
}

.countdown h1 {
font-size: 40px;
font-weight: 300;
margin-top: 20px;
/*line-height: 80px;*/
font-family: 'Lobster', cursive;
}

.countdown p {
color: #a7abb1;
font-size: 11px;
word-spacing: 20px;
}
.img {
  height: 12px;
  margin-top: -1%;
  display: inline;
}


#buttons a, a:visited {
  text-decoration: none;
  color: black;
}

#buttons a:hover {
  text-decoration: underline;
}

#questions {
  padding-bottom: 30px;
}

#questions p {
  font-size: 18px;
}

#question_num {
  display: inline;
  font-size: 25px;
}

#what_is_this {
  margin: -25px 0 15px 17%;
}
#alia_div {
  width:400px;
  margin-left: 350px;
}
#jordan_div {
  width:400px;
  margin-left: 350px;
}
#jewel_div {
  width:400px;
  margin-left: 350px;
}


#friends p {
  display: inline;
}
