<!-- TODO: REPLACE ALL guess-that-song content -->
<!DOCTYPE html>
<html>
<head>
  <title>Guess That Song</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <script src= "http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="scripts/script.js"></script>
</head>
  <body>
    <div id="buttons">
      <p class="left_buttons"> <a  href="/friends">View Your Friends</a></p>
      <p class="small_btn"> <a  href="/about">Meet The Creators</a></p>
      <p class="right_buttons"> <a  href="{{logout_url}}">Logout Here</a></p>
    </div>
  </br>
    <div class="large_spacer">
    </div>
    <div class= "content">
    <div class="small_spacer">
    </div>
    <h1 class="titles">Guess That Song</h1>
    {%if not no_nickname%}
    <p class="sub_titles">Signed in as {{nickname}}</p>
    {%endif%}
    <div class="small_spacer">
    </div>
  </div>
  <div class="spacer">
  </div>
    <div class= "content">
    <div class="small_spacer">
    </div>
    <form id="setup_form" action="/quiz" method="get">
      {%if no_nickname%}
        <div>Please enter a unique nickname:<input name="nickname" id="nickname"></input></div>
      {%endif%}
      <p>Choose your genre:
        <select id ="genre" class="styled-select" name="genre">
          <option value="hiphop">Hip Hop</option>
          <option value="pop">Pop</option>
          <option value="rock">Rock</option>
          <option value="country">Country</option>
        </select>
      </p>
      <p class="sub_labels">You will hear 15 seconds of each song. You must get the artist and song title correct to get the question correct. </p>
      <p class="sub_labels">You will be timed! </p>
      <input name="no_nickname" type="hidden" value={{no_nickname}} id="no_nickname">
      </input>
      <div><input class="big_btn" type="submit" value="continue to quiz"></input></div>
    </form>
        <p id="error" style="display: none"></p>
        <p id="not_unique_error" style="display: none"></p>
    <div class="spacer"></div>
    </div>
  </body>
</html>
